<% provide(:title, "Help & Support") %>
<h1>Help & Support</h1>
<p>Find me in app/views/static_pages/help&support.html.erb</p>
<p><%= link_to "Return to home", "home", class: "btn btn-lg btn-primary" %></p>