<% provide(:title, "Saved List") %>
<h1 id="savedListHeading">Saved List</h1>
<div id="collection_box" >
  <div class="container_popular">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-lg-8 col-centered">
        <div id="savedList" class="carousel slide" data-ride="carousel" data-interval="false">
          <div class="carousel-inner-saved-collection carousel-inner">
            <div class="carousel-caption">
              <div class="button_img_saved_list">
                <%= button_to fashion_savedToListOrNot_path, :class=> "changeImg", :method=> :post do %>
                  <i id="buttonSaveCheck" type="button" class="glyphicon glyphicon-plus-sign"></i>
                <% end %>
              </div>
            </div>
            <div class="item active">
              <%= image_tag(@savedToListModel.first, width: "60%", class: "currImg img-responsive center-block",
                            :alt=>@savedToListModel) %>
            </div>
            <% @savedToListModel.drop(1).each do |item| %>
              <div class="item">
                <%= image_tag(item, width: "60%", class: "currImg img-responsive center-block",
                              :alt=>item) %>
              </div>
            <% end %>
          </div>

          <a id="leftControl" class="left carousel-control" href="#savedList" role="button" methods="post" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a id="rightControl" class="right carousel-control" href="#savedList" role="button" methods="post" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    $('#buttonSaveCheck').on("click", function(e){
        e.preventDefault();
        $.ajax("/fashion/savedToListOrNot")
    });
    $('#leftControl').on("click", function(e){
        e.preventDefault();
        $.ajax("/fashion/moveBackward")
    })
    $('#rightControl').on("click", function(e){
        e.preventDefault();
        $.ajax("/fashion/moveForward")
    })
</script>