<head>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<% provide(:title, "Search") %>
<h1>Search</h1>
<p><%= link_to "Return to home", "home", class: "btn btn-lg btn-primary" %></p>