<% provide(:title, "Collections") %>
<h1 id="collection_view_heading">Collections</h1>
<div id="collection_box">
  <div class="all_collections_page_container">
    <div class="row">
      <% @allCollectionsURLS.each do |item| %>
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="container_image">
            <%= image_tag(item, class: "fashion_image img-responsive", :alt=>item) %>
            <div class="desc"><%= Image.where(url_name: item).pluck("title").first %></div>
            <div class="price"><%= Image.where(url_name: item).pluck("price").first %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>