<% provide(:title, "Kids") %>
<h1>Kids' Collection</h1>
<p>Find me in app/views/collection/kids.html.erb</p>
<p><%= link_to "Return to collections", "collection_index", class: "btn btn-lg btn-primary" %></p>