<head>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<% provide(:title, "New Arrivals") %>
<h1 id="collection_view_heading">New Arrivals</h1>
<div id="collection_box">
  <div class="new_arrivals_page_container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-lg-8">
        <div class="col-sm-6">
          <div class="container_image">
            <% @newArrivalsURLS.each do |item| %>
              <%= image_tag(item, class: "img-responsive", :alt=>item) %>
              <div class="desc"><%= Image.where(url_name: item).pluck("title").first %></div>
              <div class="price"><%= Image.where(url_name: item).pluck("price").first %></div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
