<% provide(:title, "Women") %>
<div class="collections_individual_heading_combo">
  <h1 id="collection_view_heading">Women's Collection</h1>
  <a id="seeAllLink" href="collection_index">
    <h3 id="collection_see_all">See all</h3>
  </a>
</div>
<hr/>
<div id="collection_box">
  <div class="women_page_container">
    <div class="row">
      <% @womenURLS.each do |item| %>
        <div class="col-xs-12 col-sm-6 col-lg-6">
          <div class="container_image">
            <%= image_tag(item, class: "fashion_image img-responsive", :alt=>item) %>
            <div class="desc"><%= Image.where(url_name: item).pluck("title").first %></div>
            <div class="price"><%= Image.where(url_name: item).pluck("price").first %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>