<% provide(:title, "Women") %>
<h1>Women's Collection</h1>
<p>Find me in app/views/collection/women.html.erb</p>
<p><%= link_to "Return to collections", "collection_index", class: "btn btn-lg btn-primary" %></p>