// Place all the styles related to the Collection controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.collections_individual_heading_combo {
  padding-top: 80px;
}

#collection_view_heading {
  display: inline;
}

#collection_see_all {
  display: inline;
  float: right;
}

#seeAllLink:hover {
  color: grey;
}