@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 12px;
}

#collection_heading {
  margin-top: 60px;
  letter-spacing: -1px;
  text-align: center;
}

#popular_heading {
  margin-top: 40px;
  letter-spacing: -1px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  font-weight: bold;
  letter-spacing: -1px;
  float: left;
  padding-top: 18px;
  font-size: 2.2em;
  color: #fff;
  text-align: center;
  //margin-right: 10px;
  margin-left: 10px;
}

header .dropdown {
  margin-top: 10px;
}

header .navbar-right {
  margin-bottom: 10px;
}

header .btn-ms {
  font-size: 20px;
}

header li {
  padding-left: 5px;
  padding-right: 5px;
}

.medium-btn {
  width: 60px;
  height: 40px;
}

.carousel-inner {
  position: relative;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style:none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#collection_header {
  margin-top: 60px;
}

.collection_container {
  margin: auto;
}

.popular_container {
  margin: auto;
  padding-left: 200px;
  padding-right: 200px;
}

// Testing online code
.col-centered {
  float: none;
  margin: 0 auto;
}

.carousel-control {
  width: 8%;
  width: 0px;
}
.carousel-control.left,
.carousel-control.right {
  margin-right: 30px;
  margin-left: 30px;
  background-image: none;
  opacity: 75%;
}
.carousel-control > a > span {
  color: white;
  font-size: 40px;
}

.carousel-col {
  position: relative;
  min-height: 1px;
  padding: 5px;
  float: left;
}

#collection_box, #popular_box {
  background-color: gray;
  padding: 5px;
  border: 5px solid black;
}

.container_img {
  position: relative;
  width: 100%;
}

.url_image {
  width: 100%;
  height: auto;
}

.button_img {
  position: absolute;
  top: 90%;
  left: 65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.changeImg {
  padding: 5px;
}

#buttonSave {
  width: 20px;
  height: 20px;
}

#collectionTitleText,
#collectionCaptionAndPriceText {
  margin-right: 300px;
  color: black;
  background-color: white;
  border-radius: 40%;
  padding: 15px;
}
