@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 12px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  font-weight: bold;
  letter-spacing: -1px;
  float: left;
  padding-top: 9px;
  font-size: 2.2em;
  color: #fff;
  text-align: center;
  //margin-right: 10px;
  margin-left: 10px;
}

header .dropdown {
  margin-top: 10px;
}

header li {
  padding-left: 5px;
  padding-right: 5px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style:none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#collection_header {
  margin-top: 60px;
}

.container_collection {
  margin: auto;
}

// Testing online code
.col-centered {
  float: none;
  margin: 0 auto;
}

.carousel-control {
  width: 8%;
  width: 0px;
}
.carousel-control.left,
.carousel-control.right {
  margin-right: 40px;
  margin-left: 32px;
  background-image: none;
  opacity: 1;
}
.carousel-control > a > span {
  color: white;
  font-size: 29px !important;
}

.carousel-col {
  position: relative;
  min-height: 1px;
  padding: 5px;
  float: left;
}

#collection_box {
  background-color: gray;
  padding: 10px;
  border: 5px solid black;
}

#popular_box {
  background-color: gray;
  padding: 10px;
  border: 5px solid black;
}

//
//.active > div { display:none; }
//.active > div:first-child { display:block; }

///*xs*/
//@media (max-width: 767px) {
//  .carousel-inner .active.left { left: -50%; }
//  .carousel-inner .active.right { left: 50%; }
//  .carousel-inner .next        { left:  50%; }
//  .carousel-inner .prev		     { left: -50%; }
//  .carousel-col                { width: 50%; }
//  .active > div:first-child + div { display:block; }
//}
//
///*sm*/
//@media (min-width: 768px) and (max-width: 991px) {
//  .carousel-inner .active.left { left: -50%; }
//  .carousel-inner .active.right { left: 50%; }
//  .carousel-inner .next        { left:  50%; }
//  .carousel-inner .prev		     { left: -50%; }
//  .carousel-col                { width: 50%; }
//  .active > div:first-child + div { display:block; }
//}
//
///*md*/
//@media (min-width: 992px) and (max-width: 1199px) {
//  .carousel-inner .active.left { left: -33%; }
//  .carousel-inner .active.right { left: 33%; }
//  .carousel-inner .next        { left:  33%; }
//  .carousel-inner .prev		     { left: -33%; }
//  .carousel-col                { width: 33%; }
//  .active > div:first-child + div { display:block; }
//  .active > div:first-child + div + div { display:block; }
//}
//
///*lg*/
//@media (min-width: 1200px) {
//  .carousel-inner .active.left { left: -25%; }
//  .carousel-inner .active.right{ left:  25%; }
//  .carousel-inner .next        { left:  25%; }
//  .carousel-inner .prev		     { left: -25%; }
//  .carousel-col                { width: 25%; }
//  .active > div:first-child + div { display:block; }
//  .active > div:first-child + div + div { display:block; }
//  .active > div:first-child + div + div + div { display:block; }
//}
//
