// Place all the styles related to the fashion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container_image {
  background-color: white;
  padding: 2px;
  border: 3px solid black;
}

.fashion_image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

#savedListHeading {
  padding-top: 50px;
}

.carousel-inner-saved-collection > .item > img {
  width: 75%;
  height: 600px;
}

.button_img_saved_list {
  position: relative;
  transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  padding: 12px 24px;
}