// Place all the styles related to the fashion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#savedListHeading {
  padding-top: 50px;
}

.carousel-inner-saved-collection > .item > img {
  width: 75%;
  height: 600px;
}

.button_img_saved_list {
  position: relative;
  transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  padding: 12px 24px;
}