// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.popular_container_box {
  margin-left: 20px;
}

#collection_heading, #popular_heading {
  margin-top: 40px;
  letter-spacing: -1px;
  text-align: center;
}

.popular_image_in_frame {
  height: 400px;
  overflow: hidden;
}

#static_heading {
  margin-top: 60px;
}

#collection_groups_heading, #seeAllButton {
  display: inline-block;
}

.collection_item_box, .popular_item_box {
  background-color: white;
  padding: 2px;
  border: 3px solid black;
}

.email_text {
  font-size: 24px;
  display: inline;
}

.submit_email_btn {
  float: right;
  display: inline;
}