<header class="navbar navbar-fixed-top navbar-inverse">
  <div id="side-content">
    <%= yield(:side_bar) %>
  </div>
  <div class="container">
    <%= link_to "RAD App", "home", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li>Current Header class</li>
      </ul>
    </nav>
  </div>
</header>